rps/__MACOSX/rockpaperscissors/paper/*.png
rps/__MACOSX/rockpaperscissors/rock/*.png
rps/__MACOSX/rockpaperscissors/scissors/*.png
rps/__MACOSX/rockpaperscissors/rps-cv-images/*.png
rps/rockpaperscissors/rps-cv-images/*.png

